<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:et="http://typo3.org/ns/ArbkomEKvW/Evangtermine/ViewHelpers"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <div id="et_filter_container">

        <f:form method="post"
                action="list"
                controller="Eventcontainer"
                object="{etkeys}"
                name="etkeysForm">
            <f:render partial="Searchform" arguments="{_all}" />

            <f:render partial="Pager" arguments="{pgr: pagerdata}" />

            <f:comment><!-- Haupt-Schleife für Events --></f:comment>
            <f:if condition="{events}">
                <f:then>
                    <f:for each="{events}" as="event" iteration="iterator">
                        <f:if condition="{event.month} != {monthOfLastEvent}">
                            <f:then>
                                <div class="monthbar">{event.month} {event.year}</div>
                            </f:then>
                            <f:else>
                                <f:if condition="!{importEvents}">
                                    <f:if condition="{event.monthbar} != '0'">
                                        {et:tag(name: "div", class: "monthbar", node: event.monthbar)}
                                    </f:if>
                                </f:if>
                            </f:else>
                        </f:if>
                        <f:variable name="monthOfLastEvent">{event.month}</f:variable>

                        <f:if condition="{iterator.isOdd}">
                            <f:then><div class="et_content_row odd"><f:render section="event" arguments="{_all}"/></div></f:then>
                            <f:else><div class="et_content_row even"><f:render section="event" arguments="{_all}"/></div></f:else>
                        </f:if>
                    </f:for>
                </f:then>
                <f:else>
                    <p><f:translate key="noEventsFound" extensionName="Evangtermine" /></p>
                </f:else>
            </f:if>
            <f:comment><!-- Ende Haupt-Schleife für Events --></f:comment>

            <f:render partial="Pager" arguments="{pgr: pagerdata}" />
        </f:form>
    </div>
</f:section>

<f:section name="event">
    <div class="et_content_date"><span class="et_tag">{event.DATUM2}<br>{event.LITURG_BEZ}</span></div>
    <div class="et_content_title">
        <f:if condition="{importEvents}">
            <f:then>
                <f:variable name="linkArguments" value="{uid:event.uid}"/>
            </f:then>
            <f:else>
                <f:variable name="linkArguments" value="{ID:'{et:str(on:event.ID)}'}"/>
            </f:else>
        </f:if>
        <f:if condition="{settings.opmode_detailpage}">
            <f:then>
                <f:link.action action="show"
                               pageUid="{settings.opmode_detailpage}"
                               controller="Eventcontainer"
                               pluginName="Detail"
                               arguments="{linkArguments}"
                               class="et_link_title"
                               data="{pluginuid:'{f:if(condition: \'{settings.opmode_detailpage}\',then:\'{settings.opmode_detailpage}\',else:\'{data.uid}\')}'}"
                >{event._event_TITLE}</f:link.action>
            </f:then>
            <f:else>
                <f:link.action action="show"
                               pageUid="{pageId}"
                               controller="Eventcontainer"
                               pluginName="List"
                               arguments="{linkArguments}"
                               class="et_link_title"
                               data="{pluginuid:'{f:if(condition: \'{settings.opmode_detailpage}\',then:\'{settings.opmode_detailpage}\',else:\'{data.uid}\')}'}"
                >{event._event_TITLE}</f:link.action>
            </f:else>
        </f:if>
        <f:if condition="{et:str(on:event._event_SHORT_DESCRIPTION)}">
            <br><span class="et_description">{et:str(on:event._event_SHORT_DESCRIPTION)}</span>
        </f:if>
        <br>
        <f:if condition="{et:str(on:event._place_NAME)} != 'Ohne Ort'">
            <span class="et_city">{event._place_CITY}: </span>
            <span class="et_placename">{event._place_NAME}</span>
        </f:if>
        <f:if condition="{et:str(on:event._person_NAME)}">
            <span class="et_personname">{event._person_NAME}</span>
        </f:if>
        <f:if condition="{et:str(on:event._user_REALNAME)}">
            <span class="et_content_user">{event._user_REALNAME}</span>
        </f:if>
    </div>
</f:section>
</html>
