<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:et="http://typo3.org/ns/ArbkomEKvW/Evangtermine/ViewHelpers"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <f:if condition="{event.ID}">
        <f:then>
            <div id="et_container">
                <div id="et_content_container">
                    <div id="et_detail_header">
                        <div class="et_content_row et_headlinks">
                            <div class="et_detail_backlink">
                                <a href="javascript:history.back()" style="background-image:url(//{eventhost}/bundles/vket/images/backlinkbg.png);">Zurück</a>
                            </div>
                            <div class="et_sharefunctions">
                                <a target="_blank" href="//{eventhost}/ical-{event.ID}"><img align="absmiddle" border="0" title="als Kalender-Ereignisdatei downloaden" alt="als Kalender-Ereignisdatei downloaden" src="{f:uri.resource(path:'Icons/kalender-24.gif')}"></a>&nbsp;
                                <a target="_blank" href="//{eventhost}/einladung-{event.ID}"><img align="absmiddle" border="0" title="als E-Mail verschicken" alt="als E-Mail verschicken" src="{f:uri.resource(path:'Icons/e-mail-senden-24.gif')}"></a>&nbsp;
                                <a target="_blank"	href="//{eventhost}/teilen-auf-facebook-{event.ID}"><img align="absmiddle" border="0" title="Auf Facebook posten" alt="Auf Facebook posten"	src="{f:uri.resource(path:'Icons/facebook-24.gif')}"></a>&nbsp;
                                <a target="_blank" href="//{eventhost}/teilen-auf-twitter-{event.ID}"><img align="absmiddle" border="0" title="twittern" alt="twittern" src="{f:uri.resource(path:'Icons/twitter-24.gif')}"></a>&nbsp;
                                <a href="javascript:window.print();"><img align="absmiddle"
                                                                          border="0"
                                                                          title="drucken"
                                                                          alt="drucken"
                                                                          src="{f:uri.resource(path:'EXT:evangtermine/Resources/Public/Icons/drucken-24.gif')}"></a>
                            </div>
                        </div>
                        <f:if condition="{et:str(on:event._event_IMAGE)}">
                            <div class="et_event_image">
                                <img alt="{event._event_TITLE}" src="{event._event_IMAGE}" title="{event._event_TITLE}"/>
                                <f:if condition="{et:str(on:event._event_CAPTION)}">
                                    <br>
                                    <span class="et_event_caption">{event._event_CAPTION}</span>
                                </f:if>
                            </div>
                        </f:if>
                        <h1 id="et_detail_title">{event._event_TITLE}</h1>
                        <div id="et_detail_date">{event.DATUM2}</div>
                    </div>

                    <f:if condition="{et:str(on:event._place_NAME)} != 'Ohne Ort'">
                        <div class="et_content_row" id="et_field_PLACE_ID">
                            <div class="et_content_detaillabel">Ort</div>
                            <div class="et_content_detailvalue">
                                <f:if condition="{et:str(on:event._place_NAME)}">
                                    <span class="et_place_NAME">{event._place_NAME}</span>
                                </f:if>
                                <f:if condition="{et:str(on:event._place_STREET_NR)}">
                                    <br><span class="et_place_STREET_NR">{event._place_STREET_NR}</span>
                                    <br><span class="et_place_ZIP">{event._place_ZIP}</span><span class="et_place_CITY">{event._place_CITY}</span>
                                </f:if>
                                <f:comment><!--
                                <f:if condition="{et:str(on:event._place_INFO)}">
                                    <br>
                                    <f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc"><et:tag node="{event._place_INFO}" /></f:cObject>
                                </f:if>
                                --></f:comment>
                                <f:if condition="{et:str(on:event._place_IMAGE)} && !{et:str(on:event._event_IMAGE)}">
                                    <br>
                                    <img id="et_place_image" src="{event._place_IMAGE}" style="display: none;"/>
                                </f:if>
                            </div>
                        </div>
                    </f:if>
                    <f:alias map="{etlist: {
                                    _event_SHORT_DESCRIPTION: event._event_SHORT_DESCRIPTION,
                                    _event_EVENTTYPE: event._event_EVENTTYPE,
                                    _event_PEOPLE: event._event_PEOPLE,
                                    _LONG_DESCRIPTION: event._event_LONG_DESCRIPTION,
                                    _event_LINK: event._event_LINK,
                                    _event_EMAIL: event._event_EMAIL,
                                    _event_TEXTLINE_1: event._event_TEXTLINE_1,
                                    _event_TEXTLINE_2: event._event_TEXTLINE_2,
                                    _event_TEXTLINE_3: event._event_TEXTLINE_3,
                                    _event_TEXTLINE_4: event._event_TEXTLINE_4,
                                    _event_TEXTLINE_5: event._event_TEXTLINE_5,
                                    _event_TEXTBOX_1: event._event_TEXTBOX_1,
                                    _event_TEXTBOX_2: event._event_TEXTBOX_2,
                                    _event_TEXTBOX_3: event._event_TEXTBOX_3
                                    }}">

                        <f:for each="{etlist}" as="evt" key="key">
                            <f:if condition="{evt}">
                                <f:if condition="{importEvents}">
                                    <f:then>
                                        <f:switch expression="{key}">
                                            <f:case value="_event_EVENTTYPE">
                                                <div class="et_content_row" id="et{key}">
                                                    <div class="et_content_detaillabel">
                                                        {event.attributesAsArray.categories.label}
                                                    </div>
                                                    <div class="et_content_detailvalue">
                                                        <f:for each="{categoryList}" key="categoryKey" as="category">
                                                            <f:if condition="{categoryKey} == {evt}">
                                                                {category}
                                                            </f:if>
                                                        </f:for>
                                                    </div>
                                                </div>
                                            </f:case>
                                            <f:case value="_event_PEOPLE">
                                                <div class="et_content_row" id="et{key}">
                                                    <div class="et_content_detaillabel">
                                                        {event.attributesAsArray.people.label}
                                                    </div>
                                                    <div class="et_content_detailvalue">
                                                        <f:for each="{f:split(value: evt, separator: ',')}" as="id" iteration="i">
                                                            <f:for each="{groupList}" key="peopleKey" as="people">
                                                                <f:if condition="{peopleKey} == {id}">
                                                                    <f:if condition="{i.isLast}">
                                                                        <f:then>
                                                                            {people}
                                                                        </f:then>
                                                                        <f:else>
                                                                            {people},
                                                                        </f:else>
                                                                    </f:if>
                                                                </f:if>
                                                            </f:for>
                                                        </f:for>
                                                    </div>
                                                </div>
                                            </f:case>
                                            <f:defaultCase>
                                                <f:render section="DefaultInfoOutput" arguments="{_all}"/>
                                            </f:defaultCase>
                                        </f:switch>
                                    </f:then>
                                    <f:else>
                                        <f:render section="DefaultInfoOutput" arguments="{_all}"/>
                                    </f:else>
                                </f:if>
                            </f:if>
                        </f:for>
                    </f:alias>

                    <f:if condition="{et:str(on:event._person_NAME)}">
                        <div class="et_content_row" id="et_person_NAME">
                            <div class="et_content_detaillabel">Ansprechpartner</div>
                            <div class="et_content_detailvalue">
                                <span class="et_person_NAME">{event._person_NAME}</span>
                                <f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc">
                                    <f:if condition="{et:str(on:event._person_EMAIL)}">
                                        mailto:{event._person_EMAIL}
                                    </f:if>
                                    <f:if condition="{et:str(on:event._person_CONTACT)}">
                                        <span class="et_person_CONTACT">{event._person_CONTACT}</span>
                                    </f:if>
                                </f:cObject>
                            </div>
                        </div>
                    </f:if>

                    <f:comment><!-- Registration with old feedback form (deprecated) --></f:comment>
                    <f:if condition="{et:str(on:event._event_FEEDBACK_ID)}">
                        <div class="et_content_row" id="et_event_FEEDBACK_ID">
                            <div class="et_content_detaillabel">Rückmeldeformular</div>
                            <div class="et_content_detailvalue">
                                <a href="javascript:" OnClick="window.open('//{eventhost}/rueckmeldeformular{event._event_FEEDBACK_ID}-{event.ID}', 'Rückmeldeformular','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=850,height=650,top=10,left=200');" class="feedbacklink et_link" >für die Veranstaltung anmelden</a>
                                <f:if condition="{et:str(on:meta.avail)}">
                                    (noch {et:str(on:meta.avail)} verfügbare Plätze)
                                </f:if>
                            </div>
                        </div>
                    </f:if>

                    <f:comment><!-- Registration with new web form --></f:comment>
                    <f:if condition="{et:str(on:event._poll_ID)}">
                        <div class="et_content_row" id="et_webform_LINKNAME">
                            <div class="et_content_detaillabel">&nbsp;</div>
                            <div class="et_content_detailvalue">
                                <a href="//{eventhost}/webformular/input/liste/{event._poll_ID}" target="_blank">{event._webform_LINKNAME}</a>
                            </div>
                        </div>
                    </f:if>

                    <f:if condition="{et:str(on:event._place_NAME)} != 'Ohne Ort'">
                        <div class="et_content_row" id="et_detail_position">
                            <div class="et_content_detaillabel"></div>
                            <div class="et_content_detailvalue">
                                <a	onclick="window.open('//{eventhost}/veranstaltungsort_{event._place_ID}','Karte','scrollbars=yes,resizable=yes,width=600,height=500'); return false;"
                                    title="Auf Karte anzeigen" href="//{eventhost}/veranstaltungsort_{event._place_ID}" target="_blank">Ort auf Karte anzeigen</a>
                            </div>
                        </div>
                    </f:if>

                    <div class="et_content_row et_user">
                        <div class="et_content_detaillabel">Veranstalter</div>
                        <div class="et_content_detailvalue">
                            <f:if condition="{et:str(on:event._user_IMAGE)}"><img alt="{event._user_REALNAME}" src="{event._user_IMAGE}" title="{event._user_REALNAME}"/></f:if>
                            <span class="et_user_REALNAME">{event._user_REALNAME}</span><br>
                                <f:if condition="{et:str(on:event._user_DESCRIPTION)}"><span class="et_user_DESCRIPTION">{event._user_DESCRIPTION}</span><br></f:if>
                                <span class="et_user_STREET_NR">{event._user_STREET_NR}</span><br>
                                <span class="et_user_ZIP">{event._user_ZIP}</span> <span class="et_user_CITY">{event._user_CITY}</span><br>

                                <f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc">
                                    <f:if condition="{et:str(on:event._user_EMAIL)}">mailto:{event._user_EMAIL}</f:if><br>
                                </f:cObject>

                                <f:if condition="{et:str(on:event._user_CONTACT)}">
                                    <f:format.nl2br>{event._user_CONTACT}</f:format.nl2br>
                                </f:if>
                        </div>
                    </div>

                </div>
            </div>
        </f:then>
        <f:else>
            <p>Diese Veranstaltung existiert nicht.</p>
        </f:else>
    </f:if>
</f:section>

<f:section name="DefaultInfoOutput">
    <f:if condition="{et:str(on:evt)}">
        <div class="et_content_row" id="et{key}">
            <div class="et_content_detaillabel">
                <f:if condition="{importEvents}">
                    <f:then>
                        {event.attributesAsArray.{key}.label}
                    </f:then>
                    <f:else>
                        <et:attr on="{evt}" name="Label" />
                    </f:else>
                </f:if>
            </div>
            <div class="et_content_detailvalue">
                <f:cObject typoscriptObjectPath="plugin.tx_evangtermine.tslibs.renderFunc"><span class="et{key}">{evt}</span></f:cObject>
            </div>
        </div>
    </f:if>
</f:section>
</html>
