<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:et="http://typo3.org/ns/ArbkomEKvW/Evangtermine/ViewHelpers"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<div id="et_container">
   <div id="et_content_container">

	<f:for each="{events}" as="event">

        <div class="et_content_row et_even teaserrow highlight">
            <div class="et_content_date teaserdate"><span class="et_tagzeit">{event.datum2}</span></div>
            <div class="et_content_title">
                <span class="teaserlink">
                <f:if condition="{settings.opmode_detailpage}">
                    <f:then>
                        <f:link.action action="show"
                                       pageUid="{settings.opmode_detailpage}"
                                       controller="Eventcontainer"
                                       pluginName="List"
                                       arguments="{uid:event.uid}"
                                       class="et_link_title"
                        >
                            {event.title}
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="show"
                                       pageUid="{pageId}"
                                       controller="Eventcontainer"
                                       pluginName="List"
                                       arguments="{uid:event.uid}"
                                       class="et_link_title"
                        >
                            {event.title}
                        </f:link.action>
                    </f:else>
                </f:if>
                </span>
                <span class="teasertext">
                    <f:if condition="{event.personName}">
                        <br><span class="et_personname">{event.personName}</span><br>
                    </f:if>
                    <f:if condition="{event.placeName} && {event.placeName} != 'Ohne Ort'">
                        <span class="et_city">{event.placeCity}</span>
                        <span class="et_placename teaserplace">{event.placeName}</span>
                    </f:if>
                </span>
            </div>
        </div>

	</f:for>

   </div>
</div>

</f:section>
</html>
