<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      f:schemaLocation="https://fluidtypo3.org/schemas/fluid-master.xsd"
      data-namespace-typo3-fluid="true">

<div class="et_filter_headline">Auswahl:</div>

<div class="et_filter_main">
    <div class="et_filter_block_left">
        <f:if condition="{settings.hide_highlights} == 0">
            <div class="et_filter_row_left">
                <f:form.select property="highlight" id="highlight" size="1" options="{high: 'Nur Highlights', all: 'Alle Veranstaltungen'}" />
            </div>
        </f:if>
        <f:if condition="{settings.hide_categories} == 0">
            <div class="et_filter_row_left">
                <f:form.select property="eventtype" id="eventtype" size="1"	options="{categoryList}" />
            </div>
        </f:if>
        <f:if condition="{settings.hide_target_audience} == 0">
            <div class="et_filter_row_left">
                <f:form.select property="people" id="people" size="1" options="{groupList}" />
            </div>
        </f:if>
        <f:if condition="{settings.hide_regions} == 0">
            <div class="et_filter_row_left">
                <f:form.select property="region" id="regions" size="1" options="{regionList}" />
            </div>
        </f:if>
        <f:if condition="{settings.hide_places} == 0">
            <div class="et_filter_row_left">
                <f:form.select property="place" id="places" size="1" options="{placeList}" />
            </div>
        </f:if>
        <f:if condition="{settings.hide_zip_search} == 0">
            <div class="et_filter_row_left">
                PLZ:
                <f:form.textfield property="zip" id="zip" size="10" maxlength="10" />
            </div>
            <div class="et_filter_row_left">
                Umkreis in km
                <f:form.select property="radius"
                               id="radius"
                               size="1"
                               options="{0: '{f:translate(key: \'feflexform.nothingSelected\', extensionName: \'Evangtermine\')}', 10: '10', 20: '20', 50: '50', 100: '100'}" />
            </div>
        </f:if>
    </div>
    <div class="et_filter_block_right">
        <f:if condition="{settings.hide_searchword} == 0">
            <div class="et_filter_row_right">
                Suchbegriff:
                <f:if condition="{etkeys.q} == 'none'">
                    <f:then>
                        <f:form.textfield property="q" id="q" size="20" value=""/>
                    </f:then>
                    <f:else>
                        <f:form.textfield property="q" id="q" size="20" value="{etkeys.q}"/>
                    </f:else>
                </f:if>
            </div>
        </f:if>
        <f:if condition="{settings.hide_date} == 0">
            <div class="et_filter_row_right">
                Datum:
                <f:form.textfield property="date"
                                  type="date"
                                  id="date"
                                  class="hasDatePicker"
                                  size="10"
                                  maxlength="10"
                />
            </div>
        </f:if>
        <f:if condition="{settings.hide_hideOngoingEvents} == 0">
            <div class="et_filter_row_right">
                <label for="hideOngoingEvents"><f:translate key="feflexform.hideEvents" extensionName="Evangtermine"/></label>
                <f:form.select property="hideOngoingEvents"
                               id="hideOngoingEvents"
                               size="1"
                               options="{0: '{f:translate(key: \'feflexform.nothingSelected\', extensionName: \'Evangtermine\')}', 1: '{f:translate(key: \'feflexform.1weekLong\', extensionName: \'Evangtermine\')}', 2: '{f:translate(key: \'feflexform.2weeksLong\', extensionName: \'Evangtermine\')}', 6: '{f:translate(key: \'feflexform.6weeksLong\', extensionName: \'Evangtermine\')}', 12: '{f:translate(key: \'feflexform.12weeksLong\', extensionName: \'Evangtermine\')}'}"
                               value="{settings.hideOngoingEvents}"
                />
            </div>
        </f:if>
        <f:if condition="{settings.hide_itemsPerPage} == 0">
            <div class="et_filter_row_right">
                Anzeigen:
                <f:form.select property="itemsPerPage" id="itemsPerPage" size="1" options="{etkeys.itemsPerPageList}" />
                pro Seite von {nrOfEvents}
            </div>
        </f:if>
    </div>
</div>
<div class="et_filter_subrow">
    <f:form.hidden property="pageID" value="1" class="pageid" />
    <f:form.hidden property="pluginUid" value="{pluginUid}" />

    <f:form.button class="et_submit" name="sf_search" value="1">Suche</f:form.button>
    <f:form.button class="et_reset" name="sf_reset" value="1">Zurücksetzen</f:form.button>
</div>
</html>
